<?xml version="1.0" encoding="UTF-8"?>
<!--
// This source is subject to Microsoft Public License (Ms-PL).
// Please see https://raw.githubusercontent.com/frederiksen/Task-Card-Creator/master/src/License.txt for details.
// All other rights reserved.
-->
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
	<Product Id="*" Name="Task Card Creator" Language="1033" Version="8.0.0.0" Manufacturer="mrtn" UpgradeCode="d0170198-6c4d-477d-955e-2be40034a0bb">
		<Package InstallerVersion="200" Compressed="yes" InstallScope="perMachine"/>

		<Media Id="1" Cabinet="media.cab" EmbedCab="yes" CompressionLevel="high" />

    <MajorUpgrade DowngradeErrorMessage="You can not downgrade!" />

    <Directory Id="TARGETDIR" Name="SourceDir">
      <Directory Id="ProgramMenuFolder">
        <Directory Id="ApplicationProgramsFolder" Name="Task Card Creator"/>
      </Directory>
      <Directory Id="ProgramFilesFolder">
				<Directory Id="INSTALLLOCATION" Name="Task Card Creator">
          <Component Id="TaskCardCreator.exe" Guid="E99EBE7E-3E4F-4BF5-AF1A-BF8E194EB8E1">
            <File Source="$(var.TaskCardCreator.TargetPath)" />
            <File Source="$(var.TaskCardCreator.TargetDir)\TaskCardCreator.exe.config" />
            <File Source="$(var.ReportInterface.TargetPath)" />
            <File Source="$(var.ReportingFramework.TargetPath)" />
            <File Source="$(var.SolutionDir)\TaskCardCreator\bin\$(var.Configuration)\Microsoft.Practices.EnterpriseLibrary.Common.dll" />
            <File Source="$(var.SolutionDir)\TaskCardCreator\bin\$(var.Configuration)\Microsoft.Practices.EnterpriseLibrary.Logging.dll" />
            <File Source="$(var.SolutionDir)\TaskCardCreator\bin\$(var.Configuration)\GoogleAnalyticsTracker.Core.dll" />
            <File Source="$(var.SolutionDir)\TaskCardCreator\bin\$(var.Configuration)\GoogleAnalyticsTracker.Simple.dll" />
            <File Source="$(var.TaskServerServiceInterface.TargetPath)" />
            <File Source="$(var.SolutionDir)\License.txt" />
          </Component>
				  <Directory Id="JiraService" Name="JiraService">
            <Component Id="JiraService.dll" Guid="4105CC6A-304F-4025-817C-39D331078C1C">
              <File Source="$(var.JIRAServices.TargetPath)" />
              <File Source="$(var.JIRAServices.TargetDir)\JiraRestClientDotNet.dll" />
              <File Source="$(var.JIRAServices.TargetDir)\ServiceStack.Common.dll" />
              <File Source="$(var.JIRAServices.TargetDir)\ServiceStack.Interfaces.dll" />
              <File Source="$(var.JIRAServices.TargetDir)\ServiceStack.Text.dll" />
            </Component>
          </Directory>          
          <Directory Id="Generic" Name="Generic">
            <Component Id="Generic.dll" Guid="512D7133-4F10-4657-ACB5-FE3187DDA672">
              <File Source="$(var.Generic.TargetPath)" />
            </Component>
          </Directory>                    
          <Directory Id="MSFforAgile" Name="MSFforAgile">
            <Component Id="MSFforAgile.dll" Guid="E2567A2C-CE84-4C41-96AA-46FEFFCBC065">
              <File Source="$(var.MSFforAgile.TargetPath)" />
            </Component>
          </Directory>          
          <Directory Id="MSFforAgileBasic" Name="MSFforAgileBasic">
            <Component Id="MSFforAgileBasic.dll" Guid="76C03211-C81F-4638-BAC5-8DF670D8400A">
              <File Source="$(var.MSFforAgileBasic.TargetPath)" />
            </Component>
          </Directory>                    
          <Directory Id="ScrumBasic" Name="ScrumBasic">
            <Component Id="ScrumBasic.dll" Guid="0EE11ED8-E021-4F0E-AD91-BD5A3A13B9FB">
              <File Source="$(var.ScrumBasic.TargetPath)" />
            </Component>
          </Directory>          
          <Directory Id="ScrumCompact" Name="ScrumCompact">
            <Component Id="ScrumCompact.dll" Guid="2494CF4B-24C5-4F02-8F06-F09C7FB1AB56">
              <File Source="$(var.ScrumCompact.TargetPath)" />
            </Component>
          </Directory>          
          <Directory Id="ScrumDetailed" Name="ScrumDetailed">
            <Component Id="ScrumDetailed.dll" Guid="E0F3AC21-A33C-490D-821E-582F46F708A3">
              <File Source="$(var.ScrumDetailed.TargetPath)" />
            </Component>
          </Directory>          
          <Directory Id="ScrumDescription" Name="ScrumDescription">
            <Component Id="ScrumDescription.dll" Guid="2F9989A1-EDA5-4992-835C-D509F1E6C4A8">
              <File Source="$(var.ScrumDescription.TargetPath)" />
            </Component>
          </Directory>                    
          <Directory Id="ScrumIndexCard3x5" Name="ScrumIndexCard3x5">
            <Component Id="ScrumIndexCard3x5.dll" Guid="C1DF9AAC-1084-43E7-ABAE-4FB5E32FAD33">
              <File Source="$(var.ScrumIndexCard3x5.TargetPath)" />
            </Component>
          </Directory>          
          <Directory Id="UserDefinedReport" Name="UserDefinedReport">
            <Component Id="UserDefinedReport.dll" Guid="CE1ED1E9-4FF1-442E-ADBC-FB3CD3748602">
              <File Source="$(var.UserDefinedReport.TargetPath)" />
            </Component>
          </Directory>          
				  <Directory Id="TFSIterationPathServices" Name="TFSIterationPathServices">
            <Component Id="TFSIterationPathServices.dll" Guid="493C879A-D50E-4CDD-AAAC-AE208057C02F">
              <File Source="$(var.TFSIterationPathServices.TargetPath)" />
              <File Source="$(var.TFSIterationPathServices.TargetDir)\Microsoft.IdentityModel.Clients.ActiveDirectory.dll" />
              <File Source="$(var.TFSIterationPathServices.TargetDir)\Microsoft.IdentityModel.Clients.ActiveDirectory.Platform.dll" />
              <File Source="$(var.TFSIterationPathServices.TargetDir)\Microsoft.IdentityModel.Logging.dll" />
              <File Source="$(var.TFSIterationPathServices.TargetDir)\Microsoft.IdentityModel.Tokens.dll" />
              <File Source="$(var.TFSIterationPathServices.TargetDir)\Microsoft.ServiceBus.dll" />
              <File Source="$(var.TFSIterationPathServices.TargetDir)\Microsoft.TeamFoundation.Build.Client.dll" />
              <File Source="$(var.TFSIterationPathServices.TargetDir)\Microsoft.TeamFoundation.Build.Common.dll" />
              <File Source="$(var.TFSIterationPathServices.TargetDir)\Microsoft.TeamFoundation.Build2.WebApi.dll" />
              <File Source="$(var.TFSIterationPathServices.TargetDir)\Microsoft.TeamFoundation.Chat.WebApi.dll" />
              <File Source="$(var.TFSIterationPathServices.TargetDir)\Microsoft.TeamFoundation.Client.dll" />
              <File Source="$(var.TFSIterationPathServices.TargetDir)\Microsoft.TeamFoundation.Common.dll" />
              <File Source="$(var.TFSIterationPathServices.TargetDir)\Microsoft.TeamFoundation.Core.WebApi.dll" />
              <File Source="$(var.TFSIterationPathServices.TargetDir)\Microsoft.TeamFoundation.Dashboards.WebApi.dll" />
              <File Source="$(var.TFSIterationPathServices.TargetDir)\Microsoft.TeamFoundation.DeleteTeamProject.dll" />
              <File Source="$(var.TFSIterationPathServices.TargetDir)\Microsoft.TeamFoundation.Diff.dll" />
              <File Source="$(var.TFSIterationPathServices.TargetDir)\Microsoft.TeamFoundation.Discussion.Client.dll" />
              <File Source="$(var.TFSIterationPathServices.TargetDir)\Microsoft.TeamFoundation.DistributedTask.Common.Contracts.dll" />              
              <File Source="$(var.TFSIterationPathServices.TargetDir)\Microsoft.TeamFoundation.Git.Client.dll" />
              <File Source="$(var.TFSIterationPathServices.TargetDir)\Microsoft.TeamFoundation.Lab.Client.dll" />
              <File Source="$(var.TFSIterationPathServices.TargetDir)\Microsoft.TeamFoundation.Lab.Common.dll" />
              <File Source="$(var.TFSIterationPathServices.TargetDir)\Microsoft.TeamFoundation.Lab.TestIntegration.Client.dll" />
              <File Source="$(var.TFSIterationPathServices.TargetDir)\Microsoft.TeamFoundation.Lab.WorkflowIntegration.Client.dll" />
              <File Source="$(var.TFSIterationPathServices.TargetDir)\Microsoft.TeamFoundation.Policy.WebApi.dll" />
              <File Source="$(var.TFSIterationPathServices.TargetDir)\Microsoft.TeamFoundation.ProjectManagement.dll" />
              <File Source="$(var.TFSIterationPathServices.TargetDir)\Microsoft.TeamFoundation.SharePointReporting.Integration.dll" />
              <File Source="$(var.TFSIterationPathServices.TargetDir)\Microsoft.TeamFoundation.SourceControl.WebApi.dll" />
              <File Source="$(var.TFSIterationPathServices.TargetDir)\Microsoft.TeamFoundation.Test.WebApi.dll" />
              <File Source="$(var.TFSIterationPathServices.TargetDir)\Microsoft.TeamFoundation.TestImpact.Client.dll" />
              <File Source="$(var.TFSIterationPathServices.TargetDir)\Microsoft.TeamFoundation.TestManagement.Client.dll" />
              <File Source="$(var.TFSIterationPathServices.TargetDir)\Microsoft.TeamFoundation.TestManagement.Common.dll" />
              <File Source="$(var.TFSIterationPathServices.TargetDir)\Microsoft.TeamFoundation.TestManagement.WebApi.dll" />
              <File Source="$(var.TFSIterationPathServices.TargetDir)\Microsoft.TeamFoundation.VersionControl.Client.dll" />
              <File Source="$(var.TFSIterationPathServices.TargetDir)\Microsoft.TeamFoundation.VersionControl.Common.dll" />
              <File Source="$(var.TFSIterationPathServices.TargetDir)\Microsoft.TeamFoundation.VersionControl.Common.Integration.dll" />
              <File Source="$(var.TFSIterationPathServices.TargetDir)\Microsoft.TeamFoundation.Work.WebApi.dll" />
              <File Source="$(var.TFSIterationPathServices.TargetDir)\Microsoft.TeamFoundation.WorkItemTracking.Client.DataStoreLoader.dll" />
              <File Source="$(var.TFSIterationPathServices.TargetDir)\Microsoft.TeamFoundation.WorkItemTracking.Client.dll" />
              <File Source="$(var.TFSIterationPathServices.TargetDir)\Microsoft.TeamFoundation.WorkItemTracking.Client.QueryLanguage.dll" />
              <File Source="$(var.TFSIterationPathServices.TargetDir)\Microsoft.TeamFoundation.WorkItemTracking.Common.dll" />
              <File Source="$(var.TFSIterationPathServices.TargetDir)\Microsoft.TeamFoundation.WorkItemTracking.Proxy.dll" />
              <File Source="$(var.TFSIterationPathServices.TargetDir)\Microsoft.TeamFoundation.WorkItemTracking.WebApi.dll" />
              <File Source="$(var.TFSIterationPathServices.TargetDir)\Microsoft.VisualStudio.Services.Client.Interactive.dll" />
              <File Source="$(var.TFSIterationPathServices.TargetDir)\Microsoft.VisualStudio.Services.Common.dll" />
              <File Source="$(var.TFSIterationPathServices.TargetDir)\Microsoft.VisualStudio.Services.WebApi.dll" />
              <File Source="$(var.TFSIterationPathServices.TargetDir)\Microsoft.WindowsAzure.Configuration.dll" />
              <File Source="$(var.TFSIterationPathServices.TargetDir)\Microsoft.WITDataStore32.dll" />
              <File Source="$(var.TFSIterationPathServices.TargetDir)\Microsoft.WITDataStore64.dll" />
              <File Source="$(var.TFSIterationPathServices.TargetDir)\Newtonsoft.Json.dll" />
              <File Source="$(var.TFSIterationPathServices.TargetDir)\System.IdentityModel.Tokens.Jwt.dll" />
              <File Source="$(var.TFSIterationPathServices.TargetDir)\System.Net.Http.Formatting.dll" />
              <File Source="$(var.TFSIterationPathServices.TargetDir)\System.Threading.Tasks.Dataflow.dll" />
              <File Source="$(var.TFSIterationPathServices.TargetDir)\System.Web.Http.dll" />
            </Component>
          </Directory>                    
				  <Directory Id="TFSQueryServices" Name="TFSQueryServices">
            <Component Id="TFSQueryServices.dll" Guid="5801896C-1DB3-4E3B-B81F-DB3639FED8D6">
              <File Source="$(var.TFSQueryServices.TargetPath)" />
              <File Id="TFSQueryServices_01" Source="$(var.TFSQueryServices.TargetDir)\Microsoft.IdentityModel.Clients.ActiveDirectory.dll" />
              <File Id="TFSQueryServices_02" Source="$(var.TFSQueryServices.TargetDir)\Microsoft.IdentityModel.Clients.ActiveDirectory.Platform.dll" />
              <File Id="TFSQueryServices_03" Source="$(var.TFSQueryServices.TargetDir)\Microsoft.IdentityModel.Logging.dll" />
              <File Id="TFSQueryServices_04" Source="$(var.TFSQueryServices.TargetDir)\Microsoft.IdentityModel.Tokens.dll" />
              <File Id="TFSQueryServices_05" Source="$(var.TFSQueryServices.TargetDir)\Microsoft.ServiceBus.dll" />
              <File Id="TFSQueryServices_06" Source="$(var.TFSQueryServices.TargetDir)\Microsoft.TeamFoundation.Build.Client.dll" />
              <File Id="TFSQueryServices_07" Source="$(var.TFSQueryServices.TargetDir)\Microsoft.TeamFoundation.Build.Common.dll" />
              <File Id="TFSQueryServices_08" Source="$(var.TFSQueryServices.TargetDir)\Microsoft.TeamFoundation.Build2.WebApi.dll" />
              <File Id="TFSQueryServices_09" Source="$(var.TFSQueryServices.TargetDir)\Microsoft.TeamFoundation.Chat.WebApi.dll" />
              <File Id="TFSQueryServices_10" Source="$(var.TFSQueryServices.TargetDir)\Microsoft.TeamFoundation.Client.dll" />
              <File Id="TFSQueryServices_11" Source="$(var.TFSQueryServices.TargetDir)\Microsoft.TeamFoundation.Common.dll" />
              <File Id="TFSQueryServices_12" Source="$(var.TFSQueryServices.TargetDir)\Microsoft.TeamFoundation.Core.WebApi.dll" />
              <File Id="TFSQueryServices_13" Source="$(var.TFSQueryServices.TargetDir)\Microsoft.TeamFoundation.Dashboards.WebApi.dll" />
              <File Id="TFSQueryServices_14" Source="$(var.TFSQueryServices.TargetDir)\Microsoft.TeamFoundation.DeleteTeamProject.dll" />
              <File Id="TFSQueryServices_15" Source="$(var.TFSQueryServices.TargetDir)\Microsoft.TeamFoundation.Diff.dll" />
              <File Id="TFSQueryServices_16" Source="$(var.TFSQueryServices.TargetDir)\Microsoft.TeamFoundation.Discussion.Client.dll" />
              <File Id="TFSQueryServices_17" Source="$(var.TFSQueryServices.TargetDir)\Microsoft.TeamFoundation.DistributedTask.Common.Contracts.dll" />
              <File Id="TFSQueryServices_18" Source="$(var.TFSQueryServices.TargetDir)\Microsoft.TeamFoundation.Git.Client.dll" />
              <File Id="TFSQueryServices_19" Source="$(var.TFSQueryServices.TargetDir)\Microsoft.TeamFoundation.Lab.Client.dll" />
              <File Id="TFSQueryServices_20" Source="$(var.TFSQueryServices.TargetDir)\Microsoft.TeamFoundation.Lab.Common.dll" />
              <File Id="TFSQueryServices_21" Source="$(var.TFSQueryServices.TargetDir)\Microsoft.TeamFoundation.Lab.TestIntegration.Client.dll" />
              <File Id="TFSQueryServices_22" Source="$(var.TFSQueryServices.TargetDir)\Microsoft.TeamFoundation.Lab.WorkflowIntegration.Client.dll" />
              <File Id="TFSQueryServices_23" Source="$(var.TFSQueryServices.TargetDir)\Microsoft.TeamFoundation.Policy.WebApi.dll" />
              <File Id="TFSQueryServices_24" Source="$(var.TFSQueryServices.TargetDir)\Microsoft.TeamFoundation.ProjectManagement.dll" />
              <File Id="TFSQueryServices_25" Source="$(var.TFSQueryServices.TargetDir)\Microsoft.TeamFoundation.SharePointReporting.Integration.dll" />
              <File Id="TFSQueryServices_26" Source="$(var.TFSQueryServices.TargetDir)\Microsoft.TeamFoundation.SourceControl.WebApi.dll" />
              <File Id="TFSQueryServices_27" Source="$(var.TFSQueryServices.TargetDir)\Microsoft.TeamFoundation.Test.WebApi.dll" />
              <File Id="TFSQueryServices_28" Source="$(var.TFSQueryServices.TargetDir)\Microsoft.TeamFoundation.TestImpact.Client.dll" />
              <File Id="TFSQueryServices_29" Source="$(var.TFSQueryServices.TargetDir)\Microsoft.TeamFoundation.TestManagement.Client.dll" />
              <File Id="TFSQueryServices_30" Source="$(var.TFSQueryServices.TargetDir)\Microsoft.TeamFoundation.TestManagement.Common.dll" />
              <File Id="TFSQueryServices_31" Source="$(var.TFSQueryServices.TargetDir)\Microsoft.TeamFoundation.TestManagement.WebApi.dll" />
              <File Id="TFSQueryServices_32" Source="$(var.TFSQueryServices.TargetDir)\Microsoft.TeamFoundation.VersionControl.Client.dll" />
              <File Id="TFSQueryServices_33" Source="$(var.TFSQueryServices.TargetDir)\Microsoft.TeamFoundation.VersionControl.Common.dll" />
              <File Id="TFSQueryServices_34" Source="$(var.TFSQueryServices.TargetDir)\Microsoft.TeamFoundation.VersionControl.Common.Integration.dll" />
              <File Id="TFSQueryServices_35" Source="$(var.TFSQueryServices.TargetDir)\Microsoft.TeamFoundation.Work.WebApi.dll" />
              <File Id="TFSQueryServices_36" Source="$(var.TFSQueryServices.TargetDir)\Microsoft.TeamFoundation.WorkItemTracking.Client.DataStoreLoader.dll" />
              <File Id="TFSQueryServices_37" Source="$(var.TFSQueryServices.TargetDir)\Microsoft.TeamFoundation.WorkItemTracking.Client.dll" />
              <File Id="TFSQueryServices_38" Source="$(var.TFSQueryServices.TargetDir)\Microsoft.TeamFoundation.WorkItemTracking.Client.QueryLanguage.dll" />
              <File Id="TFSQueryServices_39" Source="$(var.TFSQueryServices.TargetDir)\Microsoft.TeamFoundation.WorkItemTracking.Common.dll" />
              <File Id="TFSQueryServices_40" Source="$(var.TFSQueryServices.TargetDir)\Microsoft.TeamFoundation.WorkItemTracking.Proxy.dll" />
              <File Id="TFSQueryServices_41" Source="$(var.TFSQueryServices.TargetDir)\Microsoft.TeamFoundation.WorkItemTracking.WebApi.dll" />
              <File Id="TFSQueryServices_42" Source="$(var.TFSQueryServices.TargetDir)\Microsoft.VisualStudio.Services.Client.Interactive.dll" />
              <File Id="TFSQueryServices_43" Source="$(var.TFSQueryServices.TargetDir)\Microsoft.VisualStudio.Services.Common.dll" />
              <File Id="TFSQueryServices_44" Source="$(var.TFSQueryServices.TargetDir)\Microsoft.VisualStudio.Services.WebApi.dll" />
              <File Id="TFSQueryServices_45" Source="$(var.TFSQueryServices.TargetDir)\Microsoft.WindowsAzure.Configuration.dll" />
              <File Id="TFSQueryServices_46" Source="$(var.TFSQueryServices.TargetDir)\Microsoft.WITDataStore32.dll" />
              <File Id="TFSQueryServices_47" Source="$(var.TFSQueryServices.TargetDir)\Microsoft.WITDataStore64.dll" />
              <File Id="TFSQueryServices_48" Source="$(var.TFSQueryServices.TargetDir)\Newtonsoft.Json.dll" />
              <File Id="TFSQueryServices_49" Source="$(var.TFSQueryServices.TargetDir)\System.IdentityModel.Tokens.Jwt.dll" />
              <File Id="TFSQueryServices_50" Source="$(var.TFSQueryServices.TargetDir)\System.Net.Http.Formatting.dll" />
              <File Id="TFSQueryServices_51" Source="$(var.TFSQueryServices.TargetDir)\System.Threading.Tasks.Dataflow.dll" />
              <File Id="TFSQueryServices_52" Source="$(var.TFSQueryServices.TargetDir)\System.Web.Http.dll" />
            </Component>          
          </Directory>                   
        </Directory>
			</Directory>
		</Directory>

    <DirectoryRef Id="ApplicationProgramsFolder">
      <Component Id="ApplicationShortcut" Guid="*">
        <Shortcut Id="ApplicationStartMenuShortcut"
                  Name="Task Card Creator 8.0"
                  Description="Task Card Creator 8.0"
                  Target="[INSTALLLOCATION]TaskCardCreator.exe"
                  WorkingDirectory="INSTALLLOCATION"/>
        <Shortcut Id="LicenseStartMenuShortcut"
                  Name="License"
                  Description="License"
                  Target="[INSTALLLOCATION]License.rtf"
                  WorkingDirectory="INSTALLLOCATION"/>
        <RemoveFolder Id="ApplicationProgramsFolder" On="uninstall"/>
        <RegistryValue Root="HKCU" Key="Software\TaskCardCreator" Name="installed" Type="integer" Value="1" KeyPath="yes"/>
      </Component>
    </DirectoryRef>

    <Feature Id="ProductFeature" Title="Task Card Creator" Description="Task Card Creator" Level="1" Absent="disallow" AllowAdvertise="no">
			<ComponentRef Id="TaskCardCreator.exe" />
      <ComponentRef Id="JiraService.dll" />
      <ComponentRef Id="Generic.dll" />
      <ComponentRef Id="MSFforAgile.dll" />
      <ComponentRef Id="MSFforAgileBasic.dll" />
      <ComponentRef Id="ScrumBasic.dll" />
      <ComponentRef Id="ScrumCompact.dll" />
      <ComponentRef Id="ScrumDetailed.dll" />
      <ComponentRef Id="ScrumDescription.dll" />
      <ComponentRef Id="ScrumIndexCard3x5.dll" />
      <ComponentRef Id="UserDefinedReport.dll" />    
      <ComponentRef Id="TFSIterationPathServices.dll" />
      <ComponentRef Id="TFSQueryServices.dll" />    
    </Feature>
    
    <Feature Id="ShortcutFeature" Title="Shortcut on Start menu" Description="Shortcut on Start menu" Level="1" Absent="allow" AllowAdvertise="no">
      <ComponentRef Id="ApplicationShortcut" />
    </Feature>

  </Product>
</Wix>